body{
  background-color:grey;
  color:green;
}
h1{
  color:red;
  text-align:center;
}
main{
  background-color:white;
  max-width:400px;
  margin:0 auto;
}
header{
  background-image:url("images/skully2.jpg");
  background-repeat:no-repeat;
  height:100px;
  background-position:center;
  }
nav{
  background-color:black;
  padding:3px;
}
nav a{
  color:white;
}
form{
  width:170px;
  margin:0 auto;
}
form input{
  background-image:url("images/ArmBone.png");
  width:150px;
  height:78px;
  background-size:cover;
  padding-left:30px;
  border:none;
  margin-left:10px;
}
section{
  padding:10px;
}
footer{
  background-color:white;
  text-align:right;
}
